* { 
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

a { 
    text-decoration: none; 
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    width: 100%;
    height: 100%;
    font-size: 20px;
}

#splash {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#titleBar {
    padding: 10px 5px;
    background: #111;
    color: #eee;
}

#logo {
    width: 32px;
    height: 32px;
    vertical-align: bottom;
    display: none;
}

#appName {
    display: inline-block;
    margin-left: 10px;
    line-height: 32px;
    font-size: 24px;
}

#main {
    padding: 5px;
}

#activities {
    
}

#activities .activite {
    color: #333;
    padding: 10px;
}

#activities .activite:active {
    color: #fff;
    background: #066;
}

#activities .activite .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#activities .activite .date {
    color: #999;
    float: right;
    font-size: 16px;
    margin-top: 3px;
    margin-left: 5px;
}

#popupAddActivity {
    
}

.floatingButton {
    position: fixed;
    bottom: 15px;
    right: 15px;
    
    font-size: 25px;
}

.ui-autocomplete {
    z-index: 2000;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    body {
        
    }
}